<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="../static/css/pintuer.css">
<link rel="stylesheet" href="../static/css/admin.css">
<script src="../static/js/jquery.js"></script>
<script src="../static/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加图书</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{{ url_for('main.edit_book',book_id=book_id) }}" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label">
          <label>图书名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{{ book_info['name'] }}" name="name" data-validate="required:图书名称" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图书作者：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{{ book_info['author'] }}" name="author"/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图书封面：</label>
        </div>
        <div class="field">
          <input type="file" name="cover_img" class="button bg-blue margin-left" id="image1" value="+ 浏览上传"  style="float:left;">
          <div class="tipss">图片尺寸：500*500</div>
        </div>
      </div>

        <div class="form-group">
          <div class="label">
            <label>图书类别：</label>
          </div>
          <div class="field">
            <select name="category_id" class="input w50">
              <option value="{{ book_info['category_id'] }}">{{ book_info['category_name'] }}</option>
                {% for category in categorys %}
              <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <div class="tips"></div>
          </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea class="input" name="description" style=" height:90px;" maxlength="500">{{ book_info['description'] }}</textarea>
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="price" value="{{ book_info['price'] }}"  data-validate="plusdouble:价格必须为数值" />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>